# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install flake8 coveralls coverage

# command to run tests, e.g. python setup.py test
script:
  - coverage run --source=onebot python setup.py test
  - make lint

after_success: coveralls

#  vim: set ts=4 sw=2 tw=80 et :
